<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Video game company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
        <link rel="stylesheet" th:href="@{styles/plantilla.css}"/>
        <link rel="stylesheet" th:href="@{styles/listed.css}"/>
    </head>
    <body>


        <section th:fragment="AllVideogames">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">

                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Videogames2D' or product.category == 'Videogames3D' or product.category == 'VideogamesVR'}">

                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p class="card-text">[[${product.description}]]</p>

                                <a th:href="@{/product/deleteVideogame/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/editVideogame/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section th:fragment="Videogames2D">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Videogames2D'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p class="card-text">[[${product.description}]]</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="Videogames3D">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Videogames3D'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p class="card-text">[[${product.description}]]</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="VideogamesVR">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'VideogamesVR'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p class="card-text">[[${product.description}]]</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="Design2D">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Courses2D_design'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                                <a th:href="@{/product/deleteCourse2D/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/edit2dCourse/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="Design3D">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Courses3D_design'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                                <a th:href="@{/product/deleteCourse3D/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/edit3dCourse/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="LearnCsharp">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'CoursesC#'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                                <a th:href="@{/product/deleteCourseC/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/editcCourse/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="LearnGameDev">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'CoursesGameDev'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                                <a th:href="@{/product/deleteCourseGame/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/editgameCourse/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="Shop">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'Shop'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                                <a th:href="@{/product/delete/}+${product.idProduct}"
                                   class="btn btn-danger" >
                                    <i class="fas fa-trash"></i></a>
                                <a th:href="@{/product/editShop/}+${product.idProduct}"
                                   class="btn btn-success">
                                    <i class="fas fa-pencil"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section th:fragment="News">
            <div th:if="${products != null and !products.empty}" class="container d-flex flex-wrap align-items-center">
                <div th:each="product: ${products}" >
                    <div th:if="${product.category == 'News'}">
                        <div class="m-2 card">
                            <img th:src="@{${product.rutaImagen}}" class="card-img-top" style="height: 150px" alt="..."/>
                            <div class="card-body">
                                <h4>[[${product.product_name}]]</h4>
                                <p id="price" class="card-text">$[[${product.price}]]</p>
                                <button id="AddToCart" class="btn btn-primary" type="submit">Add to Cart</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>--> 



        <section th:fragment="botonesAgregar2">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            id="addVideogame"
                            data-bs-toggle="modal" 
                            data-bs-target="#addV">
                            <i class="fas fa-plus"></i> [[#{product.add}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="addV">
            <div id="addV" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/product/saveVideogame}" th:object="${product}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="product_name">[[#{product.product_name}]]</label>
                                    <input type="text" class="form-control" name="product_name" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="category">[[#{product.category}]]</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="Videogames2D">2D Videogame</option>
                                        <option value="Videogames3D">3D Videogame</option>
                                        <option value="VideogamesVR">VR Videogame</option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="description">[[#{product.description}]]</label>
                                    <input type="text" class="form-control" name="description" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="price">[[#{product.price}]]</label>
                                    <input type="text" class="form-control" name="price" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="ruta_imagen">[[#{product.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <section th:fragment="botonesAgregar2d">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            id="addVideogame"
                            data-bs-toggle="modal" 
                            data-bs-target="#add2D">
                            <i class="fas fa-plus"></i> [[#{product.add}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="add2D">
            <div id="add2D" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/product/save2dCourse}" th:object="${product}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="product_name">[[#{product.product_name}]]</label>
                                    <input type="text" class="form-control" name="product_name" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="category">[[#{product.category}]]</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="Courses2D_design">2D Design</option>
                                        <option value="Courses3D_design">3D Design</option>
                                        <option value="CoursesC#">C#</option>
                                        <option value="CoursesGameDev">Game Development</option>

                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="price">[[#{product.price}]]</label>
                                    <input type="text" class="form-control" name="price" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="ruta_imagen">[[#{product.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section th:fragment="botonesAgregar3D">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            id="addVideogame"
                            data-bs-toggle="modal" 
                            data-bs-target="#add2D">
                            <i class="fas fa-plus"></i> [[#{product.add}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="add3D">
            <div id="add2D" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/product/save3dCourse}" th:object="${product}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="product_name">[[#{product.product_name}]]</label>
                                    <input type="text" class="form-control" name="product_name" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="category">[[#{product.category}]]</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="Courses2D_design">2D Design</option>
                                        <option value="Courses3D_design">3D Design</option>
                                        <option value="CoursesC#">C#</option>
                                        <option value="CoursesGameDev">Game Development</option>

                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="price">[[#{product.price}]]</label>
                                    <input type="text" class="form-control" name="price" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="ruta_imagen">[[#{product.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section th:fragment="botonesAgregarC">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            id="addVideogame"
                            data-bs-toggle="modal" 
                            data-bs-target="#addC">
                            <i class="fas fa-plus"></i> [[#{product.add}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="addC">
            <div id="addC" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/product/savecCourse}" th:object="${product}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="product_name">[[#{product.product_name}]]</label>
                                    <input type="text" class="form-control" name="product_name" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="category">[[#{product.category}]]</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="Courses2D_design">2D Design</option>
                                        <option value="Courses3D_design">3D Design</option>
                                        <option value="CoursesC#">C#</option>
                                        <option value="CoursesGameDev">Game Development</option>

                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="price">[[#{product.price}]]</label>
                                    <input type="text" class="form-control" name="price" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="ruta_imagen">[[#{product.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        
        <section th:fragment="botonesAgregarGame">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            id="addVideogame"
                            data-bs-toggle="modal" 
                            data-bs-target="#addGame">
                            <i class="fas fa-plus"></i> [[#{product.add}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <!-- 2 Fragmento para agregar categoria, es la ventana modal -->
        <section th:fragment="addGame">
            <div id="addGame" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{producto.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/product/saveGameCourse}" th:object="${product}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="product_name">[[#{product.product_name}]]</label>
                                    <input type="text" class="form-control" name="product_name" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="category">[[#{product.category}]]</label>
                                    <select id="category" name="category" class="form-select">
                                        <option value="Courses2D_design">2D Design</option>
                                        <option value="Courses3D_design">3D Design</option>
                                        <option value="CoursesC#">C#</option>
                                        <option value="CoursesGameDev">Game Development</option>

                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="price">[[#{product.price}]]</label>
                                    <input type="text" class="form-control" name="price" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="ruta_imagen">[[#{product.rutaImagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>



        <section th:fragment="editProduct">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/product/saveVideogame}" 
                          th:object="${product}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProduct" th:field="*{idProduct}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{product/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="cardEdit">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="product_name">[[#{product.product_name}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="product_name" th:field="*{product_name}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description">[[#{product.description}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="description" th:field="*{description}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category">[[#{product.category}]]</label>
                                                    <select id="category" name="category" class="form-select">
                                                        <option value="Videogames2D">2D Videogame</option>
                                                        <option value="Videogames3D">3D Videogame</option>
                                                        <option value="VideogamesVR">VR Videogame</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price">[[#{product.price}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="price" th:field="*{price}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${product.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/product/AllVideogames}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/product/deleteVideogame/}+${product.idProduct}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>




        <section th:fragment="edit2dCourse">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/product/save2dCourse}" 
                          th:object="${product}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProduct" th:field="*{idProduct}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{product/fragmentos :: botonesEditar2dCourse}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="cardEdit">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="product_name">[[#{product.product_name}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="product_name" th:field="*{product_name}"
                                                           required="false">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="category">[[#{product.category}]]</label>
                                                    <select id="category" name="category" class="form-select">
                                                        <option value="Courses2D_design">2D Design</option>
                                                        <option value="Courses3D_design">3D Design</option>
                                                        <option value="CoursesC#">C#</option>
                                                        <option value="CoursesGameDev">Game Development</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price">[[#{product.price}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="price" th:field="*{price}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${product.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar2dCourse">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/product/LearnDesign2D}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/product/deleteCourse2D/}+${product.idProduct}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>

        </section>

        <section th:fragment="edit3dCourse">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/product/save3dCourse}" 
                          th:object="${product}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProduct" th:field="*{idProduct}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{product/fragmentos :: botonesEditar3dCourse}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="cardEdit">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="product_name">[[#{product.product_name}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="product_name" th:field="*{product_name}"
                                                           required="false">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="category">[[#{product.category}]]</label>
                                                    <select id="category" name="category" class="form-select">
                                                        <option value="Courses2D_design">2D Design</option>
                                                        <option value="Courses3D_design">3D Design</option>
                                                        <option value="CoursesC#">C#</option>
                                                        <option value="CoursesGameDev">Game Development</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price">[[#{product.price}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="price" th:field="*{price}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${product.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar3dCourse">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/product/LearnDesign3D}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/product/deleteCourse3D/}+${product.idProduct}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="editcCourse">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/product/savecCourse}" 
                          th:object="${product}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProduct" th:field="*{idProduct}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{product/fragmentos :: botonesEditarcCourse}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="cardEdit">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="product_name">[[#{product.product_name}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="product_name" th:field="*{product_name}"
                                                           required="false">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="category">[[#{product.category}]]</label>
                                                    <select id="category" name="category" class="form-select">
                                                        <option value="Courses2D_design">2D Design</option>
                                                        <option value="Courses3D_design">3D Design</option>
                                                        <option value="CoursesC#">C#</option>
                                                        <option value="CoursesGameDev">Game Development</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price">[[#{product.price}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="price" th:field="*{price}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${product.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditarcCourse">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/product/LearnCsharp}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/product/deleteCourseC/}+${product.idProduct}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="editGameCourse">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/product/saveGameCourse}" 
                          th:object="${product}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idProduct" th:field="*{idProduct}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{product/fragmentos :: botonesEditarGameCourse}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="cardEdit">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="product_name">[[#{product.product_name}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="product_name" th:field="*{product_name}"
                                                           required="false">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="category">[[#{product.category}]]</label>
                                                    <select id="category" name="category" class="form-select">
                                                        <option value="Courses2D_design">2D Design</option>
                                                        <option value="Courses3D_design">3D Design</option>
                                                        <option value="CoursesC#">C#</option>
                                                        <option value="CoursesGameDev">Game Development</option>

                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="price">[[#{product.price}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="price" th:field="*{price}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{categoria.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${product.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditarGameCourse">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/product/LearnGamedev}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/product/deleteCourseGame/}+${product.idProduct}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


    </body>
</html>
