<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Video games Company</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
        <link rel="stylesheet" th:href="@{/styles/plantilla.css}"/>
        <link rel="stylesheet" th:href="@{/styles/listed.css}"/>
        <style>
            .navbar{
                display:flex;
                justify-content:space-between;
                column-gap: 10px;
            }
            .nav-link{
                margin-left: 20px;
                margin-right: 20px;
            }
            .navbar-brand{
                margin-right: 30px;
            }
            .square{

                width: auto;
                color: #55555530;
            }
            .inner-square {
                height: 800px;
                width: auto;
                background-color: #ecebeb;
                opacity: 0.75;
            }
            #hello{
                color: #4A9DFF;
            }
            #register{

                margin-left: 32px;
            }
            #logo{
                margin-left: 20px;

            }
            h5{

                margin-left: 50px;
                color: #F8A829;
            }

        </style>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div style="
             background-color: dodgerblue;
             opacity: 90%;
             height: 900px"
             >
            <div class ="square">
                <h5>
                    News
                </h5>
                <div class="inner-square"
                     <div style="
                     margin: 40px;
                     background-image: url('https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/08/16/440f596b/hollowknightbanner.jpg')">

                    <div style="
                         overflow: auto;
                         height: 800px;
                         width: auto;
                         background-color: #ecebeb;
                         opacity: 0.9;">
                        <div style="margin: 30px">
                        <h1 style="color:black">News</h1>
                            <h2 style="color:dodgerblue">Hollow Knight Updates</h2>
                                <h3 style="color:black"> 1.5.78.19566</h3>
                                    <p style="color:black">Fixed Aspid Hunters and Primal Aspids sometimes spitting immediately after breaking out of jars.</p>
                                    <p style="color:black">Fixed door in a city house staying locked sometimes after defeating the enemy.</p>
                                    <p style="color:black">Fixed brightness resetting on quit to menu if set to minimum value.</p>
                                <h3 style="color:black"> 1.5.78.19986</h3>
                                    <p style="color:black">Fixed Low and Medium background blur to have the same vibrancy as High.</p>
                                    <p style="color:black">Fixed door in a city house staying locked sometimes after defeating the enemy.</p>
                            <h2 style="color:dodgerblue">Plants Vs Zombies</h2>
                                <h3 style="color:black"> 1.4.5</h3>
                                <p style="color:black">The game was released for Android devices worldwide.</p>
                                <p style="color:black">The 1.6 update was released for iOS and Android, tweaking Piñata Party alerts.</p>
                                <h3 style="color:black"> 1.5.5</h3>
                                <p style="color:black"> The 1.8 update was released for iOS translating the Piñata Party alerts.</p>
                                <p style="color:black">Info about the Dr. Zomboss fights was released.</p>
                                <h3 style="color:black"> 2.5.1</h3>
                                <p style="color:black"> The first Dark Ages Piñata Party became available, as well as the addition of the premium plant Hypno-shroom.</p>
                                <p style="color:black">The 2.5.1 update along with Dark Ages: Part 2 was released worldwide.</p>
                            <h2 style="color:dodgerblue">Cuphead</h2>
                                <h3 style="color:black">Patch 1.1.3</h3>
                                    <p style="color:black">Fixed various freezes caused by controller disconnection/reconnection</p>
                                    <p style="color:black">No longer possible to create a Mugman army</p>
                                    <p style="color:black">Now possible to unequip secondary weapon, Super, and Charm from equipment menu (Press "Y" to unequip)</p>
                                <h3 style="color:black">Patch 1.1.4</h3>
                                    <p style="color:black">Fixed soft lock when the player parries and dies at the same time</p>
                                <h3 style="color:black">Patch 1.3.3</h3>
                                    <p style="color:black">Revised DLC completion % calculations to better reflect completed progress in the DLC.</p>
                                    <p style="color:black">Fixed bug which caused DLC’s final boss to get locked into certain animations, preventing proper phase progression.</p>
                                    <p style="color:black">Adjusted “Hearty” achievement to unlock more consistently.</p>
                            
                            <h2 style="color:dodgerblue">Minecraft Bedrock</h2>
                                <h3 style="color:black">Minecraft - 1.19.70 (Bedrock)</h3>
                                    <p style="color:black">Fixed multiple crashes that could occur during gameplay</p>
                                <h3 style="color:black">Minecraft - 1.19.71 (Bedrock)</h3>
                                    <p style="color:black">Improvements to player emotes</p>
                                <h3 style="color:black">Minecraft - 1.20.30 (Bedrock)</h3>
                                    <p style="color:black">Fixes to over 30 community-reported issues</p>
                                    <p style="color:black">When breeding horses, the baby horse now has a chance of being better than its parents in speed, jump strength, and health</p>
                                                              
                            <h2 style="color:dodgerblue">Mortal Kombat</h2>
                                <h3 style="color:black">Update 4.2.0</h3>
                                    <p style="color:black">NEW! KLASSIC MOVIE JOHNNY CAGE</p>
                                <h3 style="color:black">Update 4.2.1</h3>
                                    <p style="color:black">8-YEAR ANNIVERSARY CELEBRATIONS</p>  
                                <h3 style="color:black">Update 4.3.5</h3>
                                    <p style="color:black">NEW! KOMBAT PASS SEASONS</p>
                                    <p style="color:black">Unclaimed Trial Rewards messages will now stack together, removing the cluster of multiple messages in your inbox</p>
                            
                        </div>
                    </div>        
                </div>
            </div>
        </div>
        <div style="background-color: gray"></div>

        <header th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>


 