<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Video games Company</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  

        <link rel="stylesheet" th:href="@{/styles/plantilla.css}"/>
        <link rel="stylesheet" th:href="@{/styles/listed.css}"/>

    </head>
    <body>
        <section th:fragment="Profile" class="Perfil-section" style="
                 margin-top: 100px;
                 ">
            <div class="Perfil-div" style="border-color: black">
                <h1 style="margin-left: 30px;
                    margin-right: 30px"> Your Profile</h1>
                <!--<p class="Perfil-name">Name_LastName</p>-->
                <!--<p class="Perfil-name" th:text="${nombreUsuario}">Name_LastName</p>-->
                <span class="Perfil-name" sec:authentication="name"> </span>

                <a class="Perfil-button" th:href="@{/profile/ChangeEmail}">Change Email</a>
                <a class="Perfil-button" th:href="@{/profile/ChangePassword}">Change Password</a>
                <a class="Perfil-button" th:href="@{/profile/UploadResume}">Upload Resume</a>
                <a class="Perfil-button" th:href="@{/profile/PaymentMethod}">Payment methods</a>

                <a class="Perfil-button" th:href="@{/profile/YourOrders}">Your Orders</a>
            </div>
        </section>
        <section th:fragment="UploadResume">
            <div class="Fondo-gris">
                <div class="Cuadro-blanco">
                    <a th:href="@{/profile/Profile}" class="Back-link">Back</a>
                    <h1 class="Titulo-centrado">Upload Your Resume</h1>
                    <p class="Texto-centrado">Make completing your job application easier by uploading your resume or CV.
                        Upload either DOC, DOCX, HTML, PDF, or TXT file types (5MB max)</p>
                    <div class="Div-gris-claro">
                        <h2 class="Titulo-centrado">Drop Resume Here</h2>
                        <p class="Texto-centrado" style="text-decoration: underline;">Or select file</p>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="PaymentMethod" class="Perfil-section" style="margin: 100px;">
            <div class="Centro">
                <h2 class="Titulo-esquina" style="
                    margin-left: 150px;
                    margin-right: 150px">Add Card</h2>
                <div class="Tarjetas">
                    <div class="Linea-tarjeta">
                        <p class="Nombre-banco">BAC</p>
                        <p class="Numero-tarjeta">1234 5678 9012 3456</p>
                    </div>

                </div>
                <button class="Agregar-button">Add Card</button>
                <button class="Done-button">Done</button>
            </div>
        </section>
        
        <section th:fragment="ChangePassword" class="Perfil-section" style="margin: 100px;">
            <div class="Centro" style="padding: 30px; height: 45vh">
                <h2 class="Titulo-dodgeblue">Change Password</h2>
                <form th:action="@{/profile/ChangePassword}" method="post">
                    <div class="Campo-container">
                        <p class="Titulo-negro-pequeño">Old password</p>
                        <input type="password" name="oldPassword" class="Campo-input" required="required"/>
                    </div>
                    <div class="Campo-container">
                        <p class="Titulo-negro-pequeño">New password</p>
                        <input type="password" name="newPassword" class="Campo-input" required="required"/>
                    </div>
                    <div class="Campo-container">
                        <p class="Titulo-negro-pequeño">Confirm password</p>
                        <input type="password" name="confirmPassword" class="Campo-input" required="required"/>
                    </div>
                    <button type="submit" class="Perfil-button">Change Password</button>
                </form>
            </div>
        </section>
        
        <section th:fragment="ChangeEmail" class="Perfil-section" style="margin: 100px;">
            <div class="Centro" style="padding: 25px; height: 50vh; margin-top: 40px;">
                <h2 class="Titulo-dodgeblue">Change Email</h2>
                <form method="post" th:action="@{/profile/ChangeEmailNew}" th:object="${usuario}" >
                        <input type="hidden" name="Id" th:field="*{Id}"/> <!-- -->
                        <input type="hidden" name="name" th:field="*{name}"/>
                        <input type="hidden" name="address" th:field="*{address}"/>
                        <input type="hidden" name="username" th:field="*{username}"/>
                        <input type="hidden" name="password" th:field="*{password}"/>
                    <div class="Campo-container">
                        <p class="Titulo-negro-pequeño">Old Email </p>
                        <span th:text="*{email}" class="Campo-input"></span>
                        <!--<input type="hidden" name="oldEmail" th:value="*{email}" />-->
                        
                    </div>
                    <div class="Campo-container">
                        <p class="Titulo-negro-pequeño">New Email</p>
                        <input type="email" name="email" class="Campo-input" required="required" />
                    </div>
                    <button type="submit" class="Perfil-button">Change Email</button>
                </form>
            </div>
        </section>


        <section th:fragment="YourOrders" class="Perfil-section" style="margin: 100px; text-align: center;">
            <div style="width: 80%; height: 90vh;">
                <h2 class="Titulo-naranja-grande">Your Orders</h2>

                <div class="Orden-linea" >
                    <p class="Orden-numero">Orden #1</p>
                    <p class="Made-on">Made on: 2023-08-22</p>
                    <p class="Total-value">Total value: $50.00</p>
                    <p class="Quantity">Quantity: 3</p>
                </div>
            </div>
        </section>

        <section th:fragment="OrdersList"  class="Perfil-section" style="margin: 100px; text-align: center;">
            <div style="width: 80%; height: 80vh;">
             <h2 class="Titulo-naranja-grande">Your Orders</h2>
            <div th:if="${orders != null and !orders.empty}" >
                <div th:each="order : ${orders}" >
                    <div th:if="${order.username} == ${usuario}" >
                        <div class="Orden-linea" >
                            <p class="Orden-numero">[[${order.idOrder}]]</p>
                            <p class="Made-on">Made on: [[${order.date_ordered}]]</p>
                            <p class="Total-value">Total: $[[${order.total_paid}]]</p>
                            <p class="Quantity">Quantity: [[${order.product_quantity}]]</p>
                            <p class="Quantity">Payment method: [[${order.payment_method_used}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section th:fragment="PaymentMethodNew" class="Perfil-section" style="margin: 100px;">
            <div class="Centro">
                <h2 class="Titulo-esquina" style="
                    margin-left: 150px;
                    margin-right: 150px">Payment Methods</h2>
                <div th:if="${payment_methods != null and !payment_methods.empty}" >
                    <div th:each="pm : ${payment_methods}" >
                        <div th:if="${pm.username} == ${usuario}" >
                            <div class="Tarjetas">
                                <div class="Linea-tarjeta">
                                    <p class="Nombre-banco">[[${pm.alias_card}]]</p>
                                    <p class="Numero-tarjeta">[[${pm.card_number}]]</p>
                                    <p class="Numero-tarjeta">[[${pm.name_on_card}]]</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </body>
</html>