<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>VideogamesWeb</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  
        <link rel="stylesheet" th:href="@{styles/plantilla.css}"/>
        <link rel="stylesheet" th:href="@{/styles/login.css}"/>       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="row py-2 justify-content-center">
            <div class="col-md-3">
                <a href="salida.html"></a>
                <div class="card">
                    <div class="card-header align-items-center">
                        [[${titulo}]]
                    </div>
                    <div class="card-body">
                        <strong>[[${mensaje}]]</strong>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
