<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Video Games Company</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>  

        <link rel="stylesheet" th:href="@{/styles/plantilla.css}"/>
        <link rel="stylesheet" th:href="@{/styles/listed.css}"/>
        <style>
            .navbar{
                display:flex;
                justify-content:space-between;
                column-gap: 10px;
            }
            .nav-link{
                margin-left: 20px;
                margin-right: 20px;
            }
            .navbar-brand{
                 margin-right: 30px;
            }
            #hello{
                color: #4A9DFF;
            }
            #register{
                
                margin-left: 32px;
            }
            #logo{
                margin-left: 20px;

            }
        </style>
    </head>
    <body>

        <script>
        function myFunction() {
          alert("Your purchase was successful!");
        }
        </script>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container">
            <div class="row row-cols-6" >
                <a th:href="@{/cart/listed}" class="btn btn-primary">
                    <i class='fas fa-reply'></i> Return</a>
            </div>
            <div class="card-header" style="margin-top: 20px">
                <h4>Buy Now</h4>
            </div>
            <div class="row row-cols-2">
                <div class="cardOrder">
                    <div style=" margin-left: 8px">
                        <div class="card-body">
                            <form method="POST"
                                  th:action="@{/cart/facturar}" 
                                  class="was-validated"                          
                                  enctype="multipart/form-data">
                                <!--<input type="hidden" name="idProduct" th:field="*{idProduct}"/>-->
                                <div id=details>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="cardEdit">
                                                    <div class="card-header">
                                                        <h4>Payment Information</h4>
                                                    </div>
                                                    <div class="card-body" style="margin-top: 15px">
                                                        <div class="mb-3">
                                                            <label for="username">User registered: [[${usuarioLogged}]]</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="carTotal">Total: [[${cartTotal}]] USD</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="payment_method">Select your payment method...</label>
                                                            <select name="payment_methods"
                                                                    class="form-select" 
                                                                    aria-label="Default select example" style="width: 280px; margin-top: 8px">
                                                                <option th:each="p : ${payment_method}" th:value="${p.alias_card}" th:if="${p.username} == ${usuarioLogged}" th:text="${p.alias_card}" >
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3" style="width: 280px; margin-top: 8px">
                                                            <button class="btn btn-primary" type="submit" onclick="myFunction()">Place Order $[[${cartTotal}]]</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>
