
.card-body > h4{
    font-weight: 400;
    color: #4A9DFF;
}

.card-body > p{
    font-weight: 200;
    font-size: 0.8em;
}


body{
  margin: 5px 0;
}

.container{
    margin-top: 50px;
    padding-left: 60px;
    justify-content: left;
    row-gap: 20px;
    column-gap: 20px;
}


.cardCart{
  
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;

  width: 900px;
  height: 400px;
  
}

.cardOrder{
  margin-left: 8 px;
  margin-right: 8 px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;

  width: 480px;
  height: 350px;
  
}


.cardButtons{
  
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;

  width: 250px;
  height: 70px;
  
}

.cardButtonsTotal{
  
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;

  width: 250px;
  height: 100px;
  
}

.card-modify-item{
  margin-left: 8 px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;

  width: 500px;
  height: 420px;
  
}

.card{
  
  border-radius: 8px;
  border: 1px solid #cccccc;
  display: flex;

  width: 290px;
  height: 360px;
  
}
.card:hover{
  transform: scale(1.1);
  transition: all linear 200ms;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}

#AddToCart{
    background-color: #F8A829;
    color: white;
    border: none;
}
#price{
    font-size: 1.2em;
}
#addVideogame{
    background-color:#F8A829;
    border: 2px solid #F8A829;
}

.job{
  border-bottom: 1px solid #888;
  display: flex;
  padding: 20px 20px;
  width: 1180px;
  height: 320px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: white; /* Red */
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: gray;
}
